<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a <% if(menu === 'datakaryawan'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/menu">data karyawan</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'jabatan'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/kas">Jabatan</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'penggajian'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/siswa">Penggajian</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'laporan'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/backup">Laporan</a>
    </li>
    <!-- <li class="nav-item">
        <a <% if(menu === 'akun'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/akun">Akun</a>
    </li> -->
</ul>