<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a <% if(menu === 'datakaryawan'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/gj/datakaryawan">data karyawan</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'datajabatan'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/gj/jabatan">Jabatan</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'datapenggajian'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/gj/penggajian">Penggajian</a>
    </li>
    <li class="nav-item">
        <a <% if(menu === 'datalaporan'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/gj/laporan">Laporan</a>
    </li>
    <!-- <li class="nav-item">
        <a <% if(menu === 'akun'){%> class="nav-link fw-bold active" aria-current="page" <% }else{ %> class="nav-link fw-bold" <% } %> href="/settings/akun">Akun</a>
    </li> -->
</ul>