<div class="modal fade" id="editJabatan<%= data.kj %>" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="m-0 p-0 text-white">Edit Jabatan</h5>
          </div>
          <div class="modal-body text-start">
              <form method="post" action="/gj/addkaryawan">
                  <div class="container-fluid p-0">
                      <div class="card bg-white p-3 mb-3">
                        <div class="row">
                            <div class="col-sm">
                                <label for="inpID" class="col-sm-2 col-form-label">id</label>
                                <input type="text" class="form-control form-control-sm" name="inidkaryawan" id="inidkaryawan" autocomplete="off" value="<%= data.kj %>" disabled>
                            </div>
                            <div class="col-sm">
                                <label for="inpNama" class="col-sm-2 col-form-label">nama</label>
                                <input type="text" class="form-control form-control-sm" name="innamakaryawan" id="innamakaryawan" autocomplete="off" value="<%= data.namajabatan %>">
                            </div>
                        </div>
                        <div class="row mt">
                            <div class="col-sm">
                                <label for="inpJabatan" class="col-sm-2 col-form-label">Besaran Gaji</label>
                                <input type="text" class="form-control form-control-sm" name="injabatan" id="injabatan" autocomplete="off" value="<%= data.besarangaji %>">
                              </div>
                        </div>
                        <div class="btn-group mt-3" role="group" aria-label="Basic example">
                          <button type="button" class="btn badge btn-secondary" data-bs-dismiss="modal"><i class="bi bi-trash"></i> Tutup</button>
                          <button type="submit" class="btn badge btn-info"><i class="bi bi-trash"></i> Kirim</button>
                        </div>
                      </div>
                  </div>
              </form>
          </div>
  
          <div class="modal-footer">
              
          </div>        
        </div>
    </div>
</div>