<div class="modal fade" id="tambahjabatan" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5 class="m-0 p-0 text-white">Masukkan Jabatan</h5>
        </div>
        <div class="modal-body text-start">
            <form action="">
                <div class="container-fluid p-0">
                    <div class="card bg-white p-3 mb-3">
                        <div class="row">
                            <div class="col-sm">
                                <label for="inpID" class="col-sm-2 col-form-label">id</label>
                                <input type="text" class="form-control form-control-sm" name="inidjabatan" id="inidjabatan" autocomplete="off" required>
                            </div>
                            <div class="col-sm">
                                <label for="inpNama" class="col-sm-2 col-form-label">jabatan</label>
                                <input type="text" class="form-control form-control-sm" name="innamajabatan" id="innamajabatan" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <label for="inpJabatan" class="col-sm-2 col-form-label">besaran gaji</label>
                                <input type="text" class="form-control form-control-sm" name="besarangaji" id="besarangaji" autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            
        </div>        
      </div>
    </div>
</div>